[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "==1.2.2"
matplotlib = "*"
seaborn = "*"
dvc = {version = "*", extras = ["gs"]}
uvicorn = "*"
gunicorn = "*"
pytest = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
