[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
dvc = {version = "*", extras = ["gs"]}
fastapi = "*"
uvicorn = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
